.carcard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 303px;
  margin: 0 auto;
  border: 1px solid rgba(75, 56, 76, 0.2);
  background: #fff;
  border-radius: 0.75rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.carcard:hover {
  border-color: #78BE20;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.carcard__head {
  padding: 24px 24px 0.25rem;
  position: relative;
}

.carcard__cornerwrap {
  position: absolute;
  top: 0;
  left: 89.34%;
  width: 62px;
  height: 179px;
  overflow: hidden;
  pointer-events: none;
}
.carcard__class {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  color: #363F41;
  line-height: 1.5;
  text-transform: uppercase;
}

.carcard__titlewrap {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-top: 0.25rem;
}

.carcard__name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: #171C1D;
  margin-top: 0.12rem;
  margin-bottom: 24px;
}

.carcard__similar {
  font-size: 0.75rem;
  line-height: 1;
  color: #363F41;
  padding-top: 0.25rem;
}

.carcard__image {
  display: flex;
  position: absolute;
  left: 193px;
  top: 20px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.carcard__image img {
  width: 100%;
  height: 134px;
  width: 298px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carcard_edit {
  display:flex;
  align-items:center;
  gap:0.5em;
  cursor:pointer;
  margin-left: 20px;
  margin-bottom: 28px;
  filter: brightness(0.75);
}

.carcard_label {
  right: 100%;
}

.carcard__body {
  padding: 0.25rem 1.25rem 0.75rem;
  display: flex;
  flex-direction: column;
}

.carcard__price-value {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  color: #363F41;
}

.carcard__pricewrap {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.carcard__price {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.carcard__price--green {
  color: #78BE20;
}

.carcard__price--dark {
  color: #363F41;
}

.carcard__pricelabel {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #6D7679;
  padding-top: 0.5rem;
}

.carcard__badge {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #363F41;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

.carcard__badge span {
  color: #fff;
  font-size: 0.875rem;
}

.carcard__specs {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: #363F41;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.carcard__specs-sep {
  width: 1px;
  height: 10px;
  background: rgba(75, 56, 76, 0.4);
  margin: 0 0.25rem;
}

.carcard__divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 0.75rem;
}

.carcard__desc {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #6D7679;
  margin-bottom: 0.75rem;
  padding: 24px;
}

.carcard__footer {
  padding: 0 1.25rem 0;
}

.carcard__btn {
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 999px;
  background: #78BE20;
  cursor: pointer;
  transition: all 0.3s;
}

.carcard__btn span {
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
}

.carcard__btn:hover {
  background: #78BE20;
}

.carcard__btn:hover span {
  color: #000;
}

.carcard--sidebar {
  max-width: 528px;
}


.fleetfilter__summary {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #262E2F;
  margin: 0 0 24px 0;
  margin-left: 24px;
}

.fleetfilter__summary .pickup__label {
  font-weight: 600;
}

.fleetfilter__summary .dropoff__label {
  font-weight: 600;
}

@media (max-width: 768px) {
  .carcard {
    max-width: 100%;
  }

  .carcard__head {
    padding: 16px 16px 0.25rem;
  }

  .carcard__class {
    margin-left: 8px;
  }

  .carcard__titlewrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
  }

  .carcard__name {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 0.12rem;
  }

  .carcard__similar {
    font-size: 0.625rem;
    padding-top: 0.125rem;
  }

  .carcard_edit {
    margin-left: 20px;
    gap: 0.25rem;
    font-size: 0.75rem;
  }

  .carcard__image {
    position: absolute;
    width: 60%;
    height: 50%;
    left: 40%;
    padding: 0;
    margin-bottom: 16px;
  }

  .carcard__image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 96px;
    position: relative;
    top: 15px;
    left: 75px;
    object-fit: contain;
  }

  .carcard__body {
    padding: 0.25rem 1rem 0.75rem;
  }

  .carcard__price-value {
    font-size: 23px;
    line-height: 125%; /* 30px */
  }

  .carcard_desc {
    font-size: 12px;
  }

  .carcard__pricewrap {
    gap: 0.25rem;
    margin-bottom: 0.125rem;
  }

  .carcard__price {
    font-size: 1.25rem;
  }

  .carcard__pricelabel {
    font-size: 0.615rem;
    padding-top: 0.25rem;
  }

  .carcard__badge {
    padding: 0.125rem 0.375rem;
    margin-bottom: 0.5rem;
  }

  .carcard__badge span {
    font-size: 0.75rem;
  }

  .carcard__specs {
    font-size: 0.7rem;
  }

  /* Shorten car name for smaller screens */
  .carcard__name {
    font-size: 0; /* Hide the full name */
    margin-left: 8px;
  }

  .carcard__name::before {
    content: "Vw Taig"; /* Display the shortened name */
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
  }

  .carcard__cornerwrap {
    left: 91.74%;
    top: -29px;
    width: 140.213px;
    height: 196px;
    scale: 0.7;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .carcard__cornerwrap {
    left: 77.87%;
    top: -39px;
    width: 140.213px;
    height: 196px;
    scale: 0.6;
  }

  .carcard__image img {
    left: -9px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .carcard__cornerwrap {
    left: 82.34%;
    top: -34px;
    width: 140.213px;
    height: 196px;
    scale: 0.65;
  }

  .carcard__image img {
    left: -10px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .carcard__cornerwrap {
    left: 84.34%;
    top: -30px;
    width: 140.213px;
    height: 196px;
    scale: 0.7;
  }

  .carcard__image img {
    left: -10px;
  }

  .complementary-item {
    width: 600px;
  }
}