@import 'variables' ;
@import 'mixins';
@import 'reset';
@import 'components/hero';
@import 'components/header';
@import 'components/layout';
@import 'components/search-widget';
@import 'components/search-widget-fidelity';
@import 'components/features';
@import 'components/discover';
@import 'components/blog';
@import 'components/partners';
@import 'components/social';
@import 'components/footer';

body { background:#fff; font-family:$font-base; color:$color-dark-strong; }
.main { font-family:$font-base; }